# App
PORT=3000
CORS_ORIGIN=http://localhost:5173

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fwc_backend?schema=public

# JWT
JWT_SECRET=replace_with_a_strong_secret
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=replace_with_a_strong_refresh_secret
JWT_REFRESH_EXPIRES_IN=30d

# Cloudflare R2

R2_ACCESS_KEY=fab5401f8b7d947c5da77fd9828c3f82
R2_SECRET_KEY=b649df6dcc79072ca01083344a81e315ecc1b11119c1a66db7178aca12dae724
R2_BUCKET=fwc-media
R2_ENDPOINT=https://5fa6c9b35f56491e60bd3f2cc2543e3d.r2.cloudflarestorage.com
R2_PUBLIC_URL=https://pub-3811e831903749479fdfed22d8a1daa5.r2.dev
MEDIA_MAX_IMAGE_BYTES=8388608
MEDIA_MAX_VIDEO_BYTES=157286400